{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-white">
    <div class="shadow p-4 rounded bg-light">
        <div class="bg-white p-5 rounded">
            <h3 class="text-center text-black mb-4">Set a New Password</h3>
            <p class="text-center text-muted">Please enter your new password below.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group mb-3">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block w-100">Set Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
