/* aboutus css */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Adjust height as needed */
    max-width: 1200px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container */
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-radius: 10px; /* Optional: add rounded corners */
    padding: 20px; /* Optional: add padding inside the section */
    position: relative;
    overflow: hidden;
}

.banner-section {
    position: relative;
    overflow: hidden;
    background-color: #007bff;
}

.banner-section .counter {
    margin-bottom: 20px;
}

.banner-section .count {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-in-out;
}

.banner-section .lead {
    font-size: 1.25rem;
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card img {
    border-radius: 50%;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.card .rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
}

.section-heading {
    margin-top: 50px;
}
