/* General Styles */
body {
    background-color: #f4f6f9;
}

/* Card Styles */
.card {
    border-radius: 10px;
    border: none;
}

.card h3 {
    color: #007bff;
    font-weight: bold;
}

/* Form Styles */
.form-group label {
    font-weight: bold;
    color: #343a40;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
