{% extends "base.html" %}

{% block content %}

<!-- About Us -->

<main class="container my-5">
    <section class="text-center mb-5">
        <h1 class="display-4 section-heading pt-5">About Us</h1>
        <p class="lead">Learn more about our team and what drives us.</p>
    </section>

    <section class="row text-center mb-5">
        <div class="col-lg-6">
            <h2 class="h3 mb-4">Our Mission</h2>
            <p class="text-muted">At Lunar I.T. Solutions, our mission is to provide innovative and effective technology solutions to empower businesses and enhance their growth. We strive to stay ahead of the curve, delivering top-notch services that meet the ever-evolving needs of our clients.</p>
        </div>
        <div class="col-lg-6">
            <h2 class="h3 mb-4">Our Vision</h2>
            <p class="text-muted">We envision a world where technology seamlessly integrates with business processes, driving efficiency and success. Our goal is to be a leading provider of I.T. solutions, known for our commitment to excellence, customer satisfaction, and innovative thinking.</p>
        </div>
    </section>

    <!-- Meet Team -->

    <section class="text-center mb-5">
        <h2 class="h3 mb-4">Meet Our Team</h2>
        <div class="row">
            {% for about in abouts %}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card border-0 shadow-sm flex-fill">
                    {% if about.Image %}
                    <img src="{{ about.Image.url }}" class="card-img-top" alt="{{ about.Name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ about.Name }}</h5>
                        <p class="card-text text-muted">{{ about.Title}}</p>
                        <p class="text-muted">{{ about.Description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>
</main>

{% endblock %}