{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Course List</h1>
    <ul>
        {% for course in courses %}
            <li>
                <h2>{{ course.Name }}</h2>
                {% if course.Image %}
                    <img src="{{ course.Image.url }}" alt="{{ course.Name }}" style="width:200px; height:auto;">
                {% endif %}
                <p>Price: ${{ course.Price }}</p>
                <p>{{ course.Description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock%}