
<form method="POST" action="{% url 'initiate' %}">
    {% csrf_token %}
    <input type="number" name="amount" required placeholder="Enter amount">
    <button type="submit">Pay with Esewa</button>
</form>

<form action="{{ esewa_payment_url }}" method="POST" id="esewa-form">
    <input value="{{ amt }}" name="amt" type="hidden">
    <input value="{{ pdc }}" name="pdc" type="hidden">
    <input value="{{ psc }}" name="psc" type="hidden">
    <input value="{{ txAmt }}" name="txAmt" type="hidden">
    <input value="{{ tAmt }}" name="tAmt" type="hidden">
    <input value="{{ pid }}" name="pid" type="hidden">
    <input value="{{ scd }}" name="scd" type="hidden">
    <input value="{{ su }}" name="su" type="hidden">
    <input value="{{ fu }}" name="fu" type="hidden">
</form>

<script type="text/javascript">
    document.getElementById('esewa-form').submit();
</script>
